<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Allday</title>
    <link rel="shortcut icon" href="shopallday.jpg" type="image/x-icon">
       

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans&display=swap" />

    <!-- Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Custom styling -->
    <link rel="stylesheet" href="util.css">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">
        <div class="section-inner">
    <div class="wrapper">
    <!-- Header -->
    <header>
        <img src="logo.png" class="logo" alt="ShopAllday1" width="65">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
        <button><i class="fa fa-envelope-o" /></i> Contact Us</button>
    </header>
    <!-- End Header -->

    <!-- Content -->
    <main class="content">
        <!-- Left -->
        
        <div class="hero-info">
        <h1 style="color: white;">Fill Your Cart & Heart</h1><br> 
        <p class="para" style="width: 600px;">"Welcome to <span>MyShopDotCom</span>, where style meets convenience. Explore a world of endless possibilities as you browse through our carefully curated collection of fashion-forward clothing, accessories, and lifestyle products. Whether you're in search of timeless classics or the latest trends, we have something to suit every taste. Our commitment to quality and customer satisfaction shines through in every product we offer. Start your shopping journey with us today, and experience the joy of discovering exceptional items that will elevate your lifestyle. Join our community of trendsetters and enjoy hassle-free shopping from the comfort of your home. Happy shopping!"</p>
        <button class="a-btn">Trending Product</button><br><br>
        
            <div class="social-icons">
                <a href="https://www.instagram.com/your-instagram-profile" target="_blank">
                  <img src="instagram-icon.jpg" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/your-youtube-channel" target="_blank">
                  <img src="youtube-icon.png" alt="YouTube">
                </a>
                <a href="https://www.facebook.com/your-facebook-page" target="_blank">
                  <img src="facebook-icon.png" alt="Facebook">
                </a>
              </div>
              
        </div>
    </main>   
     <!-- End Content -->
</div>
</body>
</html>